extends layout

block extrahead
  script(src="/javascripts/overview.js", type="text/javascript")
block content
  div.main-container
    div.grid
        div.overview(class="card")
           div.card-header
             h5(class="card-title") Overview
             div.card-content
        div.hosts(class="card")
           div.card-header
             h5(class="card-title") Hosts
           div.card-content
        div.shifters(class="card")
           div.card-header
             h5(class="card-title") Shifters
           div.card-content
        